
div.container
    h1 Setup

    p.lead Follow the instructions below to complete the setup process

    form(name='setup' novalidate='novalidate')

        div.row
            div.col-sm-6
                div(ng-include="'/app/views/setup/database.phtml'")

            div.col-sm-6
                div(ng-include="'/app/views/setup/admin.phtml'")

        div.form-group
            div.col-xs-12
                button.btn.btn-primary(type='submit', ng-disabled='setup.$invalid')
                    i.fa.fa-cog
                    |  Run Setup
