
div.panel.panel-default
    div.panel-heading
        h3.panel-title Admin
        
    div.panel-body
        div.form-group
            label.control-label First Name
            input.form-control(type='text', placeholder='David', required='required')

        div.form-group
            label.control-label Last Name
            input.form-control(type='text', placeholder='Random', required='required')

        div.form-group
            label.control-label E-mail
            input.form-control(type='email', name='email', placeholder='email@domain.com', required='required')

        div.form-group
            label.control-label Password
            input.form-control(type='password', name='password', required='required')

        div.form-group
            label.control-label Confirm Password
            input.form-control(type='password', name='confirmpassword', required='required')
