<div ng-include="'/app/views/template/nav.html'"></div>

<div class='container'>

  <alert ng-show="login.email.$dirty && login.email.$invalid || login.passwd.$dirty && login.passwd.$invalid" type="warning">
    <span ng-show='login.email.$error.required'>Please enter your email</span>
    <span ng-show='login.email.$error.email'>Please enter a valid email</span>
    <span ng-show='login.passwd.$error.required'>Please enter your password</span>
  </alert>


  <div ng-include="'/app/views/login/panel.html'"></div>
</div>
