
<form name='login' novalidate>
<div class='col-sm-6 col-sm-offset-3'>
  <div class='panel panel-default'>
    <div class='panel-heading'><h3 class='panel-title'>Login</h3></div>
    <div class='panel-body'>

      <div class='form-group'>
        <input type='email' name='email' ng-change='checkLoginForm()' ng-keydown='checkLoginForm()' ng-model='email' placeholder='E-mail' required class='form-control'>
      </div>

      <div class='form-group'>
        <input type='password' name='passwd' ng-change='checkLoginForm()' ng-keydown='checkLoginForm()' ng-model='user.passwd' placeholder='Password' required class='form-control'>
      </div>


    </div>

    <div class='panel-footer'>
      <button type='submit' ng-disabled='login.$invalid' class='btn btn-primary'>Login</button>
    </div>

  </div> <!-- /panel -->
</div>
</form>
